<div>
  <h2 class="display-6">Állítson elő számlát:</h2>
  <form [formGroup]="receiptform" #save="ngForm" (ngSubmit)="onSubmit(save.value)" action="POST">
    <ul>
      <li>
        <label for="cusName" class="form-label">Vásárló neve</label>
        <input formControlName="name" type="text" class="form-control" id="cusName" #nameval>
      </li>
      <span *ngIf=" name!.invalid && (name!.dirty || name!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="name!.errors?.['required']">
          A név kötelező!
        </span>
        <span [ngStyle]="{'color':'red'}" *ngIf="name!.errors?.['pattern']">
          Hibás formmátum!
        </span>
      </span>
      <li>
        <label for="date" class="form-label">Kiállítás dátuma</label>
        <input formControlName="date" [max]="maxDate" type="date" class="form-control" id="date">
      </li>
      <span *ngIf=" date!.invalid && (date!.dirty || date!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="date!.errors?.['required']">
          A dátum kötelező!
        </span>
      </span>
      <li>
        <label for="date" class="form-label">Esedékesség dátuma</label>
        <input formControlName="date2" type="date" class="form-control" id="date">
      </li>
      <span *ngIf=" date2!.invalid && (date2!.dirty || date2!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="date2!.errors?.['required']">
          A dátum kötelező!
        </span>
      </span>
      <li>
        <label for="item" class="form-label">Tétel neve</label>
        <input formControlName="item" type="text" class="form-control" id="item">
      </li>
      <span *ngIf=" item!.invalid && (item!.dirty || item!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="item!.errors?.['required']">
          A tétel kötelező!
        </span>
      </span>
      <li>
        <label for="comment">Komment</label>
        <textarea formControlName="comment" class="form-control" id="comment"></textarea>
      </li>
      <span *ngIf=" comment!.invalid && (comment!.dirty || comment!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="comment!.errors?.['required']">
          Kötelező kommentelni!
        </span>
      </span>
      <li>
        <label for="price">Ár</label>
        <span style="width:30%" class="input-group mb-3">
          <input formControlName="price" type="number" min=1 class="form-control" id="price">
          <span class="input-group-text">,-Ft</span>
        </span>
      </li>
      <span *ngIf=" price!.invalid && (price!.dirty || price!.touched)">
        <span [ngStyle]="{'color':'red'}" *ngIf="price!.errors?.['required']">
          Az árkötelező!
        </span>

      </span>
      <button (click)="sendData(save.value)" [disabled]="!receiptform.valid" type="submit"
        class=" btn btn-outline-success">Mentés</button>
      <button routerLink="../subscription" class="mx-3 btn btn-outline-secondary">Visszalépés</button>

    </ul>
  </form>
</div>
