ul{
    list-style: circle;
}
div:nth-child(1){
    width:60%;
    margin:0 auto 0 auto;
    border: 0.5px solid rgb(213, 213, 213);
    padding:2%;
    max-height:50%;
}
label{
    margin:1.3%;
}
@media screen and (max-width:660px) {
    div:nth-child(1){
        width:100%;
        margin:0 ;
    }
    button{
        display: block;
        margin:10% auto 0 auto;
        width: 50%;
        height: 10vh;
    }
    input{
        height: 10vh;
    }
    
    ul{
        list-style:none;
        padding:0;
    }
 
}