<section class="bg-white">

  <h2 class="mb-4 display-6"> Belépés </h2>

  <form [formGroup]="profileform" #login="ngForm" (ngSubmit)="onSubmit(login.value)">
    <div class="mb-3">
      <label for="username" class="form-label">Felhasználó név</label>
      <input #userInput formControlName="user" type="text" class="form-control" id="username"
        aria-describedby="passwordHelp" required>
    </div>
    <div style="height:3vh">
      <small [ngStyle]="{'color':( user!.invalid && (user!.dirty || user!.touched))?'red': 'transparent'}"
        *ngIf="user!.errors?.['required']">
        A név kötelező
      </small>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Jelszó</label>
      <input #passwordInput formControlName="password" type="password" class="form-control" id="password" required>
    </div>
    <div style="height:3vh">
      <small [ngStyle]="{'color':( password!.invalid && (password!.dirty || password!.touched))?'red': 'transparent'}"
        *ngIf="password!.errors?.['required'] ">
        A jelszó kötelező
      </small>
      <small style="color:red" *ngIf="userNameExistError && !password!.errors?.['required']">
        Hibás felhasználó név vagy jelszó!
      </small>
      <small style="color:red" *ngIf="notRegisteredError&&!userNameExistError">
        Nem regisztrált felhasználó!
      </small>
    </div>
    <div *ngIf="try !=3 || !recaptcha!.errors?.['required']">
      <button [disabled]="password!.errors?.['required'] || user!.errors?.['required']" type="submit"
        class="mt-2 btn btn-primary">Belépés</button>
    </div>
    <!-- <p>vagy regisztrálj be</p> -->
    <button (click)="toRegisteration()" class="btn btn-link">vagy <strong>regisztrálj</strong> be</button>
    <div *ngIf="try == 3">
      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>
  </form>
</section>
