.container {
  width: 70%;
  margin: 0 auto 0 auto;
  border: 0.5px solid rgb(213, 213, 213);
  padding: 3%;
}

@media screen and (max-width: 580px) {
  .container {
    width: 100%;
    margin: 0;
  }

}
