<h2 class="display-6">Kiállított számlák:</h2>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Vásárló neve</th>
    <th>Kiállítás dátuma</th>
    <th>Esedékesség dátuma</th>
    <th>Tétel neve</th>
    <th>Komment</th>
    <th>Ár</th>
  </tr>

  <tr></tr>
  <tr style="cursor:pointer"
    (click)="onClick(item.cusName,item.buyDate,item.realDate,item.product,item.cusComment,item.prodPrice)"
    routerLink="../unique" *ngFor="let item of receiptObservable$ | async;let i =index">
    <td>{{ i+1}}</td>
    <td>{{ item.cusName }}</td>
    <td>{{ item.buyDate }}</td>
    <td>{{ item.realDate }}</td>
    <td>{{ item.product }}</td>
    <td>{{ item.cusComment }}</td>
    <td>{{ item.prodPrice }}</td>
  </tr>
</table>
<button routerLink="../create" class="btn btn-outline-danger">
  Új számla kiállítása
</button>
